html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-primary);
  background-color: var(--clr-background-primary);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  -webkit-tap-highlight-color: transparent;
}

body.is-open {
  overflow: hidden;
}
