:root {
    --clr-brand: #ff6c00;
    --clr-primary: #555;
    --clr-primary-dark: #303030;
    --clr-primary-inverted: #fff;
    --clr-secondary: #9da4bd;
    --clr-secondary-transparent: rgba(157, 164, 189, 0.6);
    --clr-background-primary: #fff;
    --clr-background-primary-dark: #191c26;
    --clr-background-secondary: #f7f7f7;
    --clr-form-transparent: rgba(157, 164, 189, 0.4);
    --clr-backdrop-mobile: rgba(25, 28, 38, 0.5);
    --clr-service-line: rgba(157, 164, 189, 0.12);
}