/* Hero section */

.hero-section {
  background-color: var(--clr-primary-dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.4),
      rgba(46, 47, 66, 0.4)
    ),
    url(../img/construction-business.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding: 208px 0px 183px;
}

@media (min-width: 768px) {
  .hero-container {
    position: relative;
    padding: 272px 0px 243px 0px;
  }
}

@media (min-width: 1200px) {
  .hero-container {
    padding-left: 216px;
    padding-bottom: 208px;
  }
}

.hero-tagline {
  color: var(--clr-primary-inverted);
}

.hero-title {
  color: var(--clr-primary-inverted);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.08;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

@media (min-width: 357px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.18;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
  }
}

.hero-line-break::after {
  content: "\a";
  white-space: pre;
}

@media (min-width: 357px) {
  .hero-line-break::after {
    content: "";
  }
}

.hero-text {
  max-width: 486px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.67;
  color: var(--clr-primary-inverted);
}

@media (min-width: 1200px) {
  .hero-text {
    font-size: 18px;
  }
}
