// ==========================================MOBILE =====================================
.service-tagline {
  display: flex;
  gap: 60px;
  height: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
  align-items: center;
}
.service-tagline::before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: var(--clr-primary-dark);
  transform: rotate(90deg);
}
.service-title {
  margin-bottom: 44px;
}
.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-item {
  margin-bottom: 64px;
}
.service-image {
  margin-bottom: 30px;
  max-width: 418px;
  max-height: 346px;
}
.subtitle-service {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 388;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.descr-service {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 357;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

// ==========================================TABLET =====================================
@media screen and (min-width: 768px) {
  .service-tagline {
    display: flex;
    gap: 60px;
    height: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .service-tagline::before {
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--clr-primary-dark);
    transform: rotate(90deg);
    margin-left: 120px;
  }
  .service-title {
    margin-left: 120px;
    margin-bottom: 44px;
  }
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-item {
    margin-bottom: 64px;
  }
  .service-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    max-width: 450px;
    max-height: 346px;
  }
  .subtitle-service {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1, 388;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 8px;
  }
  .descr-service {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 357;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
    max-width: 418px;
  }
}
// ==========================================DESKTOP ====================================
@media screen and (min-width: 1200px) {
  .service-tagline {
    display: flex;
    gap: 60px;
    height: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    align-items: center;
  }
  .service-tagline::before {
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--clr-primary-dark);
    transform: rotate(90deg);
  }
  .service-title {
    margin-bottom: 44px;
  }
  .service-list {
    display: flex;
    gap: 30px;
  }
  .service-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .service-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    max-width: 370px;
    max-height: 346px;
  }
  .subtitle-service {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1, 388;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 8px;
  }
  .descr-service {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 357;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
    max-width: 418px;
  }
}
.service-text {
  align-items: center;
}
