.our-tagline {
  display: flex;
  gap: 40px;
}
.our-tagline::before {
  content: "";
  margin-left: 30px;
  width: 1px;
  height: 60px;
  background-color: var(--clr-primary-dark);
  transform: rotate(90deg);
}
@media screen and (min-width: 175px) {
  .our-service-list-div {
    margin-top: 44px;
  }

  .our-service-text {
    height: 90px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--clr-primary);
    margin-bottom: 44px;
  }

  .our-service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .our-service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 133px;
    background-color: var(--clr-background-secondary);
  }

  .our-service-div {
    display: flex;
  }

  .our-service-item-main-text {
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
  }

  .our-service-item-secondary-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    width: 122px;
    height: 30px;
    color: var(--clr-primary-dark);
  }

  .our-plus {
    width: 13px;
    height: 22px;
    color: var(--clr-brand);
  }
}
@media screen and (min-width: 336px) {
  .our-service-item:nth-child(2n) {
    transform: translateY(35px);
  }
  .our-service-item {
    flex-basis: calc((100% / 4) - 30px);
  }
}
@media screen and (min-width: 480px) {
  .our-service-text {
    width: 418px;
  }
  .our-service-list {
    width: 418px;
  }
  .our-service-item {
    flex-basis: unset;
    width: 193px;
    height: 133px;
  }
}
@media screen and (min-width: 768px) {
  .our-service .tagline {
    margin-bottom: 0;
  }
  .our-service .title {
    width: 420px;
  }
  .our-service-list-div {
    display: flex;
    justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .our-service-list-div {
    margin-top: 0;
  }
  .our-service-all {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 130px;
  }
}
